
.ms_bg-grey{
    background-color:rgb(44, 62, 80);
    min-height: 88px;
    color: white;
}
.ms_bg-green{
    background-color:rgb(26, 188, 156);
    color: white;
}
.ms_bg-blue{
    background-color: rgb(58, 84, 109);
    color: white;
}
.ms_h-header{
    height: 90px;
}
.ms_img-size{
    width: 230px;
    height: 260px;
}
.ms_icon-size{
    font-size: 25px;
}

.ms_border{
    width: 360px;
    height: 260px;
    border: 1px solid red;
}
.ms_h-start{
    min-height: 588px;
}

.ms_h-about{
    min-height: 497px;
}
.ms_h-contact{
    min-height: 688px;
}
.ms_h-info{
    min-height:229px ;
}
.ms_h-copyright{
    min-height: 111px;
}
