
.ms_bg-grey{
    background-color:rgb(44, 62, 80);
    min-height: 88px;
    color: white;
}
.ms_bg-green{
    background-color:rgb(26, 188, 156);
    color: white;
}
.ms_bg-blue{
    background-color: rgb(58, 84, 109);
    color: white;
}
.ms_h-header{
    height: 90px;
}
.ms_img-size{
    width: 230px;
    height: 260px;
}
.ms_icon-size{
    font-size: 25px;
}
.ms_border{
    width: 360px;
}
.ms_img-portfolio-size{
    width: 360px;
    height: 260px;
    border-radius: 28px;
}
.ms_txt-about{
    font-size: 20 px;
    column-count: 2;
    text-align: left;
}
.ms_button{
    color: white;
    background-color: rgb(26, 188, 156);
    border-radius: 5px;
    border:2px solid white;
}
.ms_input{
    color: black;
}
#ms_txt-area{
    width: 100%;
}
.ms_txt-footer-color{
    color: rgb(26, 188, 156);
}
.ms_txt-footer-size{
    font-size: 18px;
}
.ms_icon-footer{
    font-size: 25px;
    border: 1px solid white;
    border-radius: 9999px;
    text-align: center;
    line-height: 15px;
    padding: 13px;
}
.ms_h-start{
    min-height: 588px;
}

.ms_h-about{
    min-height: 497px;
}
.ms_h-contact{
    min-height: 688px;
}
.ms_h-info{
    min-height:229px ;
}
.ms_h-copyright{
    min-height: 111px;
}
